* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-logo-user-info-basket-notification {
  display: flex;
  flex-direction: row;
}

.header-logo-user-info-basket-notification .logo {
  padding-top: 32px;
  padding-left: 165px;
}

.header-logo-user-info-basket-notification .avatar-basket-notification {
  display: flex;
  justify-content: center;
}

.header-logo-user-info-basket-notification .avatar {
  padding-top: 32px;
  padding-left: 774px;
  display: flex;
  flex-direction: row;
}

.header-logo-user-info-basket-notification .avatar .avatar-logo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.header-logo-user-info-basket-notification .avatar .avatar-logo {
  padding-right: 8px;
}

.header-logo-user-info-basket-notification .avatar .icon-down {
  width: 12px;
  height: 12px;
  padding-left: 10px;
}

.header-logo-user-info-basket-notification .avatar p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 28px;
}

.header-logo-user-info-basket-notification .basket-notification {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-left: 48px;
}

.header-logo-user-info-basket-notification .basket-notification .basket {
  width: 20px;
  height: 20px;
}

.header-logo-user-info-basket-notification .basket-notification .notification {
  padding-left: 40px;
}

.writes-and-phones-photos {
  display: flex;
}

/* .writes-and-phones-photos .writes {
  display: flex;
} */

.writes-and-phones-photos .writes .outer-frame {
  width: 540px;
  height: 280px;
  border: 1px solid black;
  padding: 48px;
  /* margin-bottom: 500px; */
  display: flex;
  /* position: relative;
  z-index: 1; */
  background-color: white;
  margin-top: 350px;
  margin-left: 213px;
  position: absolute;
  z-index: 1;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  /* margin-top: 350px;
  margin-left: 213px; */
  padding-top: 15px;
  padding-left: 5px;
  /* position: absolute;
  z-index: 1; */
}

.writes-and-phones-photos .writes .outer-frame .title-and-write h3 {
  width: 430px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write .avatar-and-write {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write .avatar-and-write .avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write .avatar-and-write p {
  width: 200px;
  height: 24px;
  line-height: 24px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  padding-left: 12px;
}

.writes-and-phones-photos .writes .phones-photos {
  position: absolute;
}

.watch-headphone-phones-computers {
  display: block;
  clear: both;
  width: 1110px;
  height: 1067px;
  border: 1px solid black;
  margin-top: 661px;
  margin-left: 165px;
  position: relative;
  z-index: 1;
}

.watch-headphone-phones-computers .product-group-1{
  display: flex;
  flex-direction: row;
  margin-bottom: 130px;
}

.watch-headphone-phones-computers .product-group-2{
  display: flex;
  flex-direction: row;
}

.watch-headphone-phones-computers .product{
  padding-right: 15px;
}

.watch-headphone-phones-computers .general-title h2 {
  width: 1110px;
  height: 59px;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 34px;
}

.watch-headphone-phones-computers .product-informations {
  margin-bottom: 10px;
}

.watch-headphone-phones-computers .product-informations img {
  width: 354px;
  height: 294px;
  border-radius: 12px;
}

.watch-headphone-phones-computers .product-informations h2 {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.watch-headphone-phones-computers .author .author-photo {
  display: flex;
  flex-direction: row;
}

.watch-headphone-phones-computers .author .author-photo img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.watch-headphone-phones-computers .author .author-photo p {
  font-family: Open sans;
  font-size: 14px;
  line-height: 24px;
  padding-left: 12px;
}

.watch-headphone-phones-computers .author-write {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  width: 354px;
  height: 72px;
}

.dark-background-write-keyboard {
  width: 1110px;
  height: 375px;
  margin-left: 165px;
  /* background-image: url('/assets/img/background-dark.png');
  background-repeat: no-repeat; */
  background-color: black;
  margin-top: 56px;
  border-radius: 16px;
}

.dark-background-write-keyboard .link-and-write-author-informations {
  color: white;
  padding-top: 145px;
  padding-left: 64px;
  width: 326px;
  height: 118px;
}

.dark-background-write-keyboard .link-and-write-author-informations .link-and-write .link {
  width: 112px;
  height: 32px;
  background-color: #0D6EFD;
  border-radius: 3px;
  padding-top: 4px;
}

.dark-background-write-keyboard .link-and-write-author-informations .link-and-write .link a{
  width: 64px;
  height: 24px;
  color: white;
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  margin-left: 12px;
}

.dark-background-write-keyboard .link-and-write-author-informations .link-and-write .write {
  width: 300px;
  font-family: Montserrat;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
  margin-bottom: 16px;
}

.dark-background-write-keyboard .link-and-write-author-informations .avatar-and-write {
  display: flex;
  flex-direction: row;
}

.dark-background-write-keyboard .link-and-write-author-informations .avatar-and-write img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.dark-background-write-keyboard .link-and-write-author-informations .avatar-and-write p {
  font-family: Open Sans;
  padding-left: 12px;
}

.dark-background-write-keyboard .keyboard {
  margin-left: 532px;
  margin-top: -70px;
}

.tourism-promotion {
  width: 1110px;
  height: 1365px;
  border: 1px solid black;
  margin-left: 165px;
  margin-top: 136px;
}

.tourism-promotion .general-title h1 {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 25px;
}

.tourism-promotion .promotion-photos-and-writes .group {
  display: flex;
  flex-direction: row;
  margin-bottom: 56px;
}

.tourism-promotion .promotion-photos-and-writes .group .photo img {
  width: 445px;
  height: 250px;
  border-radius: 16px;
}

.tourism-promotion .promotion-photos-and-writes .group .write {
  width: 553px;
  height: 189px;
  margin-left: 32px;
}

.tourism-promotion .promotion-photos-and-writes .group .write h1 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
  margin-top: 28px;
}

.tourism-promotion .promotion-photos-and-writes .group .write .avatar-and-write {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.tourism-promotion .promotion-photos-and-writes .group .write .avatar-and-write img {
  border-radius: 50%;
}

.tourism-promotion .promotion-photos-and-writes .group .write .avatar-and-write p {
  font-family: Open Sans;
  font-size: 14px;
  padding-left: 12px;
}

.tourism-promotion .promotion-photos-and-writes .group .write {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
}

.promotion-photos-and-writes .button {
  display: flex;
  justify-content: center;
}

.promotion-photos-and-writes button {
  width: 272px;
  height: 64px;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  background-color: #0D6EFD;
  color: white;
  
}