* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-logo-user-info-basket-notification {
  display: flex;
  flex-direction: row;
}

.header-logo-user-info-basket-notification .logo {
  padding-top: 32px;
  padding-left: 165px;
}

.header-logo-user-info-basket-notification .avatar-basket-notification {
  display: flex;
  justify-content: center;
}

.header-logo-user-info-basket-notification .avatar {
  padding-top: 32px;
  padding-left: 774px;
  display: flex;
  flex-direction: row;
}

.header-logo-user-info-basket-notification .avatar .avatar-logo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.header-logo-user-info-basket-notification .avatar .avatar-logo {
  padding-right: 8px;
}

.header-logo-user-info-basket-notification .avatar .icon-down {
  width: 12px;
  height: 12px;
  padding-left: 10px;
}

.header-logo-user-info-basket-notification .avatar p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 28px;
}

.header-logo-user-info-basket-notification .basket-notification {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-left: 48px;
}

.header-logo-user-info-basket-notification .basket-notification .basket {
  width: 20px;
  height: 20px;
}

.header-logo-user-info-basket-notification .basket-notification .notification {
  padding-left: 40px;
}

.writes-and-phones-photos {
  display: flex;
}

.writes-and-phones-photos .writes {
  /* display: flex; */
}

.writes-and-phones-photos .writes .outer-frame {
  width: 540px;
  height: 280px;
  border: 1px solid black;
  padding: 48px;
  /* margin-bottom: 500px; */
  display: flex;
  /* position: relative;
  z-index: 1; */
  background-color: white;
  margin-top: 350px;
  margin-left: 213px;
  position: absolute;
  z-index: 1;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  /* margin-top: 350px;
  margin-left: 213px; */
  padding-top: 15px;
  padding-left: 5px;
  /* position: absolute;
  z-index: 1; */
}

.writes-and-phones-photos .writes .outer-frame .title-and-write h3 {
  width: 430px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write .avatar-and-write {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write .avatar-and-write .avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.writes-and-phones-photos .writes .outer-frame .title-and-write .avatar-and-write p {
  width: 200px;
  height: 24px;
  line-height: 24px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  padding-left: 12px;
}
.writes-and-phones-photos .writes .phones-photos {
  position: absolute;
}